In [150]:
# Import Pandas
import pandas as pd
filename = "/content/drive/MyDrive/Colab Notebooks/Coding Dojo/02 Week 2: Pandas/sales_predictions.csv"

In [151]:
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [152]:
# Q1:  How many rows and columns?
rows = len(df.axes[0])
columns = len(df.axes[1])
print(rows)
print(columns)
# Rows = 8,523, Columns = 12

8523
12

In [153]:
# Q1:  How many rows and columns?
df.shape
# Rows = 8,523, Columns = 12

(8523, 12)

In [154]:
# Q2:  What are the datatypes of each variable?
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [155]:
# Q2:  What are the datatypes of each variable?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [156]:
# Q3: Are there duplicates? (If so, drop any duplicates.)
df.duplicated().any()
# False = No duplicates

False

In [157]:
# Q4: Identify missing values
df.isnull().sum()
# Missing = Item Weight (1,463), Outlet Size (2410)

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [158]:
# Q5: Decide on how to address the missing values and do it! 
#df1['Item_Weight'] = df.fillna(df['Item_Weight'].mean())
df1 = df.fillna(df['Item_Weight'].mean())
# df1.isnull().sum()
# Justification:  for Item Weight - Kept Item weight column and used mean.
# Would like to have found mean item weight by type (e.g., soda, meat, dairy)

In [159]:
# Q5: Decide on how to address the missing values and do it! 
df1 = df1.drop(columns = ['Outlet_Size'])
# Justification for Outlet Size:  Dropped column b/c did not seem critical
# Would like to have been able to better analyze data to better evaluate
# Both are beyond my skills at this point, but looking forward to learning more!

In [160]:
# Q6: Confirm that there are no missing values after addressing them.
df1.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [161]:
# Q7:  Find and fix any inconsistent categories of data 
# (example: fix cat, Cat, and cats so that they are consistent)
df1['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [162]:
df1['Item_Fat_Content'] = df1['Item_Fat_Content'].replace('LF','Low Fat')
df1['Item_Fat_Content'] = df1['Item_Fat_Content'].replace('low fat', 'Low Fat')
df1['Item_Fat_Content'] = df1['Item_Fat_Content'].replace('reg', 'Regular')
df1['Item_Fat_Content'].value_counts()
# Looks good!

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [163]:
# Q7:  Find and fix any inconsistent categories of data 
# (example: fix cat, Cat, and cats so that they are consistent)
df1['Item_Identifier'].value_counts()
#Looks good!

FDG33    10
FDW13    10
FDV38     9
FDW49     9
NCL31     9
         ..
FDK57     1
FDT35     1
DRF48     1
FDE52     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [164]:
# Q7:  Find and fix any inconsistent categories of data 
# (example: fix cat, Cat, and cats so that they are consistent)
df1['Item_Type'].value_counts()
# Looks good!

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [165]:
# Q7:  Find and fix any inconsistent categories of data 
# (example: fix cat, Cat, and cats so that they are consistent)
df1['Outlet_Identifier'].value_counts()
# Looks Good!

OUT027    935
OUT013    932
OUT046    930
OUT035    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [166]:
# Q7:  Find and fix any inconsistent categories of data 
# (example: fix cat, Cat, and cats so that they are consistent)
df1['Outlet_Location_Type'].value_counts()
# Looks Good!

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [167]:
# Q7:  Find and fix any inconsistent categories of data 
# (example: fix cat, Cat, and cats so that they are consistent)
df1['Outlet_Type'].value_counts()
# OK, assiming that looks good, but could supermarket types be combined?

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [172]:
# Q8: For any numerical columns, obtain the (min, max, mean) for each
df1.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 11 columns]

In [171]:
# Item Weight summary statistics
df1['Item_Weight'].describe()

count    8523.000000
mean       12.857645
std         4.226124
min         4.555000
25%         9.310000
50%        12.857645
75%        16.000000
max        21.350000
Name: Item_Weight, dtype: float64

In [174]:
# Item_Visibility summary statistics
df1['Item_Visibility'].describe()

count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64

In [175]:
# Item_MRP summary statistics
df1['Item_MRP'].describe()

count    8523.000000
mean      140.992782
std        62.275067
min        31.290000
25%        93.826500
50%       143.012800
75%       185.643700
max       266.888400
Name: Item_MRP, dtype: float64

In [177]:
# Outlet_Establishment_Year summary statistics
df1['Outlet_Establishment_Year'].describe()

count    8523.000000
mean     1997.831867
std         8.371760
min      1985.000000
25%      1987.000000
50%      1999.000000
75%      2004.000000
max      2009.000000
Name: Outlet_Establishment_Year, dtype: float64